@import '~antd/lib/style/themes/default.less';

.articleList {
  :global {
    .ant-list-item:first-child {
      padding-top: 0;
    }
  }
}
a.listItemMetaTitle {
  color: @heading-color;
}

.departBody {
  span {
    display: inline-block;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
  }
}
